@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    /* background: linear-gradient(to bottom, black, rgb(34, 29, 29)); */
    background: linear-gradient(to bottom, #000000, #2c2c2c);
    color: #fff;
    font-family: 'Poppins';

}


.contenedor{
    position: relative;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;

}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;

}

.panel-login{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-bottom: 10px;
}

.mi-imagen{
    width: 150px; 
    height: auto; 
}

.input-container{
    position: relative;
    margin: 30px 0;
    width: 300px;
    border-bottom: 2px solid #fff;
    
}

.input-container label{
    position: absolute;
    top: 50%;
    left:5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1rem;
    pointer-events: none;
    transition: .3s;
    font-weight: bold;/

}

input:focus~ label,
input:valid~ label{
    top:  -10px;

}
h1, p, h2, th, label, td {
font-family: 'Poppins';
}
.input-container input{
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    padding: -35 0 5px;
    color: #fff;
    outline: none;
}

.panel-interfaz{
    position: fixed;
    top: 10px;
    left: 10px;
    display: none;
    color: #fff;
}



.indice-contenedor {
    position: relative;
}

.indice {
    position: absolute;
    z-index: 2;
}

.navegacion {
    width: 60px;
    height: 100%;
    background-color: #2c2c2c;
    color: #000000; 
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0; 
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 0 20px 20px 0; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.navegacion .icon {
    font-size: 25px;
    transition: transform 0.3s ease;
    display: block;
    margin-bottom: 10px; 
}

.navegacion .icon:hover{
    transform: scale(1.5);
}

.navegacion li:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

.navegacion ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navegacion li a {
    color: #ffffff;
    text-decoration: none;
    padding: 5px 0;
    display: block;
    font-size: 0.8rem;
}

.navegacion .title {
    display: none;
}
.cont-bienvenido {
    display: flex;
    align-items: center;
    background-color: #E0E0E0;
    max-width: 700px;
    margin: auto;
    justify-content: center;
    text-align: center;
    border-radius: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    background: #fff; 
    z-index: 100;
    margin-left: 250px; 
    width: calc(250% - 250px); 
    height: auto;
    padding: 20px;
}

.welcome-message h1 {
    margin: 0;
    color: #333;
}

.welcome-message p {
    color: #666;
}

.welcome-image img {
    width: 100px;
    height: auto;
}


.curso1 h2, .curso2 h2, .curso3 h2,
.curso1 p, .curso2 p, .curso3 p, .curso4 p,
.curso4 h2, .curso5 h2, .curso6 h2,
.curso5 p ,  .curso6 p{
    margin: 0px;
}

.curso1, .curso2, .curso3, .curso4, .curso5, .curso6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 400px; /* Ancho del cajón */
    height: 120px; /* Altura del cajón */
    border-radius: 10px;
    background-color: #000;
    position: absolute;
    left: 50%; /* Centra el cajón en el eje X */
    transform: translateX(-50%); /* Desplazamiento adicional para centrar exactamente en el eje X */
    gap: 10px; /* Espacio entre elementos internos si es necesario */
    margin-bottom: 20px;
    background-size: 100% 100%;
}

.curso4, .curso5, .curso6{
    left: 750px;
}

.curso1 { 
    top: 200px;
    background:linear-gradient(to bottom, #2c2c2c, #636363); /* Ruta de la imagen de fondo del curso1 */
    
    
} /* Posición en el eje Y para el primer cajón */
.curso2 { 
    top: 340px;
    background:linear-gradient(to bottom, #f0f0f0, #b4b4b4);  /* Ruta de la imagen de fondo del curso1 */
    color: black;
    } 


.curso3 { top: 480px;
    background:linear-gradient(to bottom, #646464, #2c2c2c); /* Ruta de la imagen de fondo del curso1 */
    } 



 .curso4{
 top: 200px;
 text-align: center;
 background:linear-gradient(to bottom, #252525, #4e4e4e);

  }

 .curso5{
    top: 340px;
    background:linear-gradient(to bottom, #e7d5d5, #9e9696);
    color: black;
    }

.curso6{
    top: 480px;
    background:linear-gradient(to bottom, #8a8a8a, #2e2e2e);

    background-color: #8a8a8a;
 }


.panel-curso{
display: none;
}


table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.prom {
    background-color: #ffd53e; /* Color de fondo de la celda especial */
    font-weight: bold; /* Texto en negrita para destacar */
    color: #333; /* Color del texto */
}

#btnanterior,#btnanterior2,#btnanterior3,#btnanterior4,#btnanterior5,#btnanterior6{
    position: absolute;
    left: 50%;
    top: 70%;
    background-color: white;
    transform: translateX(-50%);
    display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            text-align: center;
            text-decoration: none;
            border: 2px solid #ffffff;
            border-radius: 5px;
            color: #ffffff;
            background-color: rgb(0, 0, 0);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
            transition: background-color 0.3s;
            cursor: pointer;
}
#btnanterior:hover,#btnanterior2:hover,#btnanterior3:hover,#btnanterior4:hover,#btnanterior5:hover,#btnanterior6:hover {
    background-color: #ffffff;
    color: #000000;
}
.panel-user {
    display: none;
}
.panel-user p.inf{
    font-weight: bold; 
}
.content{
    position: absolute;
    background-color: #f0f0f0; /* Color de fondo del contenedor */
    padding: 20px; /* Espaciado interno para dar espacio al texto */
    display: inline-block; 
    color: #333; /* Color del texto */
    font-size: 16px;;
    left: 60%;
    top: 10%;
}
.panel-user h1{
    position:absolute;
    left: 10%;
    top: 7%;
}
.panel-user img{
    position:absolute;
    left: 10%;
    top: 10%;

}